body {
    background-color: #282828;
    font-size: 100%;
}

h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    line-height: 0.5em;
}

h2 {
    color: white;
}

h3 {
    color: white;
    text-align: center;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

table, td {
    border: none;
}

#divider>tbody>tr>td:last-child {
    padding: 0 15px 0 15px;
    position: relative;
}

#divider {
    width: 100%;
}

#navButtons {
    width: 100%;
    height: 7%;
    position: absolute;
    top:93%;
}

#navButtons tr td:last-child {
    text-align: right;
    padding-right: 30px;
}

button {
    height: 30px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

button:disabled{
    background-color: #757575;
    border: 2px solid #757575;
}

button:enabled {
    cursor:pointer;
    background-color: #4e7541;
    border: 2px solid #4e7541;
}

button:enabled:hover {
    background-color: white;
    color: #4e7541
}

#slideBody {
    height: 93%;
    position: absolute;
    top: 10%;
}

#slideTitle {
    color: white;
}

#slideText {
    color: white;
    margin-right: 15px;
}

div#preloaded-images {
    position: absolute;
    overflow: hidden;
    left: -9999px; 
    top: -9999px;
    height: 1px;
    width: 1px;
 }